@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-900 text-white font-sans antialiased;
    background-image: radial-gradient(
            at 0% 0%,
            hsla(253, 16%, 7%, 1) 0,
            transparent 50%
        ),
        radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
        radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
    background-attachment: fixed;
    min-height: 100vh;
}

/* Glassmorphism Classes Utility */
.glass-panel {
    @apply bg-glass backdrop-blur-md border border-glassBorder shadow-xl rounded-2xl;
}

.glass-input {
    @apply bg-black/20 border border-white/10 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-400 transition-colors w-full text-white placeholder-gray-400;
}
